<div class="container col-lg-8 col-md-8 col-sm-8 bg-secondary-subtle py-3 my-3 rounded-3">
    <h1 class="text-center">Welcome {{user}}</h1>
    <div>
        <h2 class="text-center pb-2">Edit or remove the item</h2>

        <div class="d-flex">
            <table class="table">
                <thead>
                  <tr >
                    <th scope="col">Number</th>
                    <th scope="col">Item</th>
                    <th scope="col">Rate in kg</th>
                    <th scope="col">Available Quantity (kg)</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of items let j=index">
                    <th scope="row">{{j+1}}</th>
                    <td><input [(ngModel)]="i.item" id="name" name="name" class="form-control" type="text" ></td>
                    <td><input [(ngModel)]="i.price" id="price" name="price" class="form-control" type="text"></td>
                    <td ><input [(ngModel)]="i.quantity" id="quantity" name="quantity" type="text" class="form-control"></td>
                    <td> <button (click)="edit(i.id,i.item,i.price,i.quantity)" id="btn"  class="btn"><i class="fa-solid fa-pencil" style="color: green;"></i></button></td>
                    <td> <button (click)="itemDelete(i.id)" class="btn"><i class="fa-solid fa-trash" style="color: red;"></i></button></td>
                  </tr>
                  <tr>
                    
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th></th>
                    <th></th>
                  </tr>
                </tbody>
              </table>
        </div>
        <div>
            <h2 class="text-center">Add Products</h2>
<form [formGroup]="addForm">
              <table class="table">
                  <thead>
                      <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Rate in kg</th>
                        <th scope="col">Available Quantity (kg)</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr>
  
                        <td><input formControlName="item" type="text" placeholder="name" class="form-control "></td>
                        <td id="p"><input formControlName="price" type="text" placeholder="Price" class="form-control "></td>
                        <td id="k"><input formControlName="quantity" type="number" placeholder="Quantity" class="form-control "></td>
                        <td ><button (click)="addProduct()" class="btn btn-warning">Add</button></td>
                      </tr>
                    </tbody>
              </table>
</form>
        </div>
    </div>
    <button (click)="logout()" class="btn btn-warning" >Logout</button>
  </div>
